@import "../src/styles/Header.css";
@import "../src/styles/Job.css";
@import "../src/styles/Search.css";
@import "../src/styles/JobListing.css";
@import "../src/styles/JobDetails.css";
@import "../src/styles/Footer.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .search-container{
        width: 100%;
        top: 0px;
    }

    .job-listing{
        width: 100%;

    }
}

@media screen and (max-width: 347px) {
    .search-container {
        width: 100%;
        height: 100px;
        top: 0px;
    }

    .job-listing {
        width: 100%;
        height: 300px;
        border-radius: 3px;
    }

    .card-body{
        height: 330px;
    }
    .header{
        height: 120px;
        text-align: center;
        font-size: 30px;
    }
}